.item {
  height: 60px;
  width: 500px;
  background-color: aquamarine;
  color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
}

.item-left {
  display: flex;
  gap: 4px;
}

.item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}
